.display{
	background-color: bisque;
	overflow: hidden;
	margin: 10px;
}

.display > div {
	width: 100%;
}

.display > #output {
}
.checkin{
	background-color: red;
	color: white;
}
.checkin:hover{
	background-color: white;
	color: red;
}
.checkout{
	background-color: green;
	color: white;
}
.checkout:hover{
	background-color: white;
	color: green;
}
.display > #add-entry-in {
	width: max-content;
	margin: 10px;
	padding: 10px;
}

.display > #add-entry-out {
	width: max-content;
	margin: 10px;
	padding: 10px;
}

.display > ul{
	list-style: none;
	margin: 10px;
	padding: 10px;
}
.display > ul > li{
	list-style: none;
}